html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.fade-enter-active, .fade-leave-active {
  transition-property: opacity;
  transition-duration: .25s;
}

.fade-enter-active {
  transition-delay: .25s;
}

.fade-enter, .fade-leave-active {
  opacity: 0
}

.v-toaster {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  font-size: 14px;
  position: fixed;
  bottom: 1.5rem;
  right: 1rem;
  z-index: 10000;
  padding: 0 1rem;
}

.v-toaster .v-toast{
  transition: all .2s ease;
  color: #fff;
  display: block;
  margin-top: .5rem;
  padding: 1rem 1.25rem;
  background: rgba(69,77,93,1);
}

.v-toaster .v-toast.v-toast-enter,
.v-toaster .v-toast.v-toast-leave-to {
  -webkit-transform: translate(100%);
  -ms-transform: translate(100%);
  transform: translate(100%)
}

.v-toaster .v-toast.v-toast-success {
  background: rgba(50,182,67,1);
}

.v-toaster .v-toast.v-toast-error {
  background: rgba(232,86,0,1);
}

.v-toaster .v-toast.v-toast-warning {
  background: rgba(255,183,0,1);
}

.v-toaster .v-toast.v-toast-info {
  background: rgba(91,192,222,1);
}

.v-toaster .v-toast.v-toast-primary {
  background: rgba(66,139,202,1);
}

.v-toaster .v-toast .v-toast-btn-clear {
  display: none;
}
